# Copy this file to a location outside Git and edit as needed.

export GW_ROOT=/oak/stanford/groups/engreitz/Users/dulguun/230916_Genome-wide_Screen_Analysis
export GW_GUIDE_COUNTS="$GW_ROOT/full_result_files_from_Chad/Files_used_for_mageck/combined_mageck_input.txt"
export GW_MAGECK_POS_NEG="$GW_ROOT/full_result_files_from_Chad/Pos_vs_Neg/Pos_vs_Neg.gene_summary.txt"
export GW_UTEST_POS_NEG="$GW_ROOT/full_result_files_from_Chad/Pos_vs_Neg/combined_utest_P1P2_adj_test.txt"
export GW_MAGECK_D0_TOTAL="$GW_ROOT/full_result_files_from_Chad/D0_vs_Total/D0_vs_EC_total.gene_summary.txt"
export GW_UTEST_D0_TOTAL="$GW_ROOT/full_result_files_from_Chad/D0_vs_Total/combined_utest_P1P2_adj_test.txt"

export VALIDATION_ROOT=/oak/stanford/groups/engreitz/Users/chloemc/GenomeWideValidation
export VALIDATION_MAGECK_COUNTS="$VALIDATION_ROOT/MageckAnalysis/mageck_sgRNA_readcount.txt"
export VALIDATION_UTEST_COUNTS="$VALIDATION_ROOT/UTestAnalysis/guideCounts.csv"
export VALIDATION_SUMMARY=/oak/stanford/groups/engreitz/Users/dulguun/231023_Validation_Screen_Files/d3pos_d3neg_mageckLFC.csv
